/* style.css */

/* Global Styles */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #666;
}

/* Encode.html */

.input-section {
    margin-bottom: 20px;
    margin-top: 2%;
    text-align: center;
}

.file-input input[type="file"] {
    display: none;
}

.file-input label {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #0c0a0a;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-input label:hover {
    background-color: #f8f5f5;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

.output-section {
    margin-top: 40px;
    text-align: center;
}

.image-container {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.image-container i {
    font-size: 48px;
    color: #ccc;
    margin-bottom: 10px;
}

.image-container p {
    font-size: 16px;
    color: #666;
}

/* Decode.html */

.message-container {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.message-container i {
    font-size: 48px;
    color: #ccc;
    margin-bottom: 10px;
}

.message-container p {
    font-size: 16px;
    color: #666;
}

/* Index.html */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}
/* style.css */

/* Tombol */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

/* Container */
.container {
    max-width: 800px;
    margin-top: 0%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Heading */
h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}